*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: sans-serif;
  height: 100vh;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.2rem;
}

button {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

section.result {
  font-size: 1.25rem;
}
